/* You can add global styles to this file, and also import other style files */

body {
  --album-shared-transition: "album-image";
  --playlist-shared-transition: "playlist-image";

  margin: 0;
  color: #eee;
  font-family: -apple-system, "system-ui", "Apple Color Emoji", "SF Pro",
    "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;

  
}

// ::view-transition-old(root),
//   ::view-transition-new(root) {
//     animation-delay: 1s;
//   }