<div *ngIf="store.album | async as album">
  <div *ngIf="album">
    <div style="display: flex; align-items: center">
      <img [src]="album?.images?.[0]?.url" class="album-image" />

      <div style="display: flex; flex-direction: column; margin-left: 40px">
        <div>{{ album.name }}</div>
        <div>{{ album.label }}</div>

        <div>{{ album.release_date }}</div>

        <div [routerLink]="['/artist', album?.artists?.[0]?.id]">
          {{ album?.artists?.[0]?.name }}
        </div>
      </div>
    </div>

    <div style="margin-top: 50px; margin-right: 40px">
      <div
        class="track-grid"
        (click)="store.playTrack2(track.id)"
        *ngFor="let track of album.tracks?.items"
      >
        <div class="cell">{{ track.track_number }}</div>
        <div class="cell track-item_center">
          <div>{{ track.name }}</div>
          <div>{{ track.artists[0].name }}</div>
        </div>
        <div class="cell">{{ track.duration_ms }}</div>
      </div>
    </div>
  </div>
</div>
